body{
  box-sizing: border-box;
}

.shrug {
  width: 240px;
}

.poster {
  margin: 10px;
  height: 80%;
}

#header {
  height: 4em;
  border: dashed orange;
  border-width: thick;
}

#results {
  margin-top: 10px;
  overflow: scroll;
  max-height:94vh;
  max-width: 74vw;
  min-width: 74vw;
  word-wrap: break-word;
  padding-left: 50px;
}

.r {
  display: flex;
  flex-direction: row;
}

.c {
  display: flex;
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.inlineFlex {
  display: inline-flex !important;
}

.h1MarginBye {
  margin-top: 0.1em !important;
}

.flexEnd {
  align-items: flex-end;
}

::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    display: none;
}
